
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 64.6rem;
}.a4-1-XXJ {
  width: 100%;
  height: 84.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-r6vu-7tp {
    top: 0;
    display: flex;
    align-items: flex-end;
    width: 55.3rem;
    height: 37.7rem;
    position: absolute;
    left: 1.6rem;

    .auto-group-mxrc-2Xv {
      flex-shrink: 0;
      margin: 0rem 8.284rem 0.6rem 0rem;
      width: 26.2155rem;
      height: 37.1rem;
      position: relative;

      .rectangle-1-dXi {
        width: 22.4rem;
        height: 25.2rem;
        position: absolute;
        left: 1.9rem;
        top: 0;
        background-color: #4390d7;
      }
      .polygon-1-5uW {
        left: 0;
        top: 21rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 26.2155rem;
        height: 16.1rem;
        position: absolute;
      }
      .anwesha-N7v {
        position: absolute;
        font-size: 3rem;
        line-height: 1.15;
        font-family: Judson, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.4rem;
        height: 3.5rem;
        left: 6.9rem;
        top: 4.4rem;
        display: flex;
        font-weight: 400;
        color: #ffffff;
      }
      .dash-MVe {
        white-space: nowrap;
        width: 6.9rem;
        height: 3.5rem;
        left: 9.4rem;
        top: 6.8rem;
        font-size: 3rem;
        line-height: 1.15;
        position: absolute;
        display: flex;
        font-weight: 400;
        color: #fffafa;
        font-family: Judson, 'Source Sans Pro';
      }
      .objective-zoW {
        width: 8rem;
        height: 2.3rem;
        position: absolute;
        left: 8.8rem;
        line-height: 1.15;
        font-style: italic;
        white-space: nowrap;
        top: 10.5rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        color: #e1e0e0;
        font-family: Judson, 'Source Sans Pro';
      }
      .enthusiastic-and-dedicated-engineering-student-pursuing-integrated-m-tech-in-vellore-institute-of-technology-with-a-passion-for-innovation-and-problem-solving-i-am-committed-to-leveraging-my-academic-background-and-hands-on-experiences-to-contribute-effectively-in-the-field-of-computer-science-dLg {
        width: 19.8rem;
        position: absolute;
        left: 3.45rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: Judson, 'Source Sans Pro';
        height: 10.4rem;
        top: 15.5rem;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.15;
      }
    }
    .auto-group-xyr6-rMr {
      width: 20.8rem;
      height: 34.55rem;
      position: relative;
      flex-shrink: 0;

      .java-LH2 {
        top: 3.55rem;
        line-height: 1.215;
        font-size: 0.9rem;
        font-weight: 400;
        color: #000000;
        font-family: Junge, 'Source Sans Pro';
        width: 1.8rem;
        height: 1.1rem;
        position: absolute;
        left: 0.1rem;
        white-space: nowrap;
      }
      .python-Amr {
        width: 3rem;
        height: 1.1rem;
        font-weight: 400;
        line-height: 1.215;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 0.1rem;
        top: 7.75rem;
        font-size: 0.9rem;
        font-family: Junge, 'Source Sans Pro';
      }
      .sql-database-Rxg {
        width: 5.5rem;
        height: 1.1rem;
        position: absolute;
        line-height: 1.215;
        color: #000000;
        font-family: Junge, 'Source Sans Pro';
        left: 0.1rem;
        top: 11.95rem;
        font-size: 0.9rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .front-end-web-development-4Vr {
        position: absolute;
        top: 16.15rem;
        font-size: 0.9rem;
        line-height: 1.215;
        width: 12.4rem;
        height: 1.1rem;
        left: 0.1rem;
        font-weight: 400;
        color: #000000;
        font-family: Junge, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mobile-application-development-H7i {
        font-family: Junge, 'Source Sans Pro';
        height: 1.1rem;
        top: 20.35rem;
        font-size: 0.9rem;
        letter-spacing: 0.009rem;
        color: #000000;
        white-space: nowrap;
        width: 14.3rem;
        position: absolute;
        left: 0.1rem;
        font-weight: 400;
        line-height: 1.215;
      }
      .group-9-GkL {
        width: 20.6747rem;
        height: 0.3402rem;
        position: absolute;
        left: 0.1253rem;
        top: 5.4263rem;
        background-color: #d9d9d9;

        .rectangle-3-xt4 {
          width: 19.7976rem;
          height: 0.3402rem;
          background-color: #000000;
        }
      }
      .group-10-fGg {
        position: absolute;
        left: 0.1253rem;
        top: 9.6222rem;
        background-color: #d9d9d9;
        width: 20.6747rem;
        height: 0.3402rem;

        .rectangle-5-y2U {
          width: 19.7976rem;
          height: 0.3402rem;
          background-color: #000000;
        }
      }
      .group-11-uRv {
        width: 20.6747rem;
        height: 0.3402rem;
        position: absolute;
        left: 0.1253rem;
        top: 13.818rem;
        background-color: #d9d9d9;

        .rectangle-7-Sgk {
          width: 15.9133rem;
          height: 0.3402rem;
          background-color: #000000;
        }
      }
      .group-12-zCU {
        width: 20.6747rem;
        height: 0.3402rem;
        position: absolute;
        left: 0.1253rem;
        top: 18.0139rem;
        background-color: #d9d9d9;

        .rectangle-9-iuA {
          width: 10.7759rem;
          height: 0.3402rem;
          background-color: #000000;
        }
      }
      .group-13-Fu6 {
        background-color: #d9d9d9;
        width: 20.6747rem;
        height: 0.3402rem;
        position: absolute;
        left: 0.1253rem;
        top: 22.2098rem;

        .rectangle-11-bTA {
          width: 13.0313rem;
          height: 0.3402rem;
          background-color: #000000;
        }
      }
      .technical-skills-k5A {
        white-space: nowrap;
        width: 12rem;
        height: 3.3rem;
        left: 0;
        font-weight: 400;
        color: #000000;
        font-family: Kadwa, 'Source Sans Pro';
        position: absolute;
        top: 0;
        display: flex;
        font-size: 1.6rem;
        line-height: 2.01;
      }
      .experience-d8x {
        display: flex;
        font-size: 1.6rem;
        line-height: 2.01;
        color: #000000;
        width: 8.7rem;
        height: 3.3rem;
        position: absolute;
        left: 0;
        font-family: Kadwa, 'Source Sans Pro';
        white-space: nowrap;
        top: 29.2rem;
        font-weight: 400;
      }
      .angular-w9e {
        left: 0.3rem;
        top: 33.35rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.02rem;
        color: #000000;
        width: 3.7rem;
        white-space: nowrap;
        position: absolute;
        font-family: Roboto, 'Source Sans Pro';
        height: 1.2rem;
      }
    }
  }
  .auto-group-xlc6-1vC {
    left: 3.5rem;
    top: 38.4rem;
    display: flex;
    align-items: center;
    width: 59.3rem;
    height: 10.4rem;
    position: absolute;

    .auto-group-5ux2-LSg {
      box-sizing: border-box;
      padding: 0.3rem 0.7rem 0rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-xmhq-3rt {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.6rem;
        align-items: center;
        display: flex;

        .icons8-mail-50-1-arp {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.7rem 0.1rem;
          width: 1.7rem;
          height: 1.2rem;
        }
        .icons8-linkedin-50-1-hRe {
          margin-right: 0.1rem;
          width: 1.7rem;
          height: 1.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-kwq6-q24 {
        margin: 0rem 5rem 0.15rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-information-ZTr {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.6rem;
          line-height: 2.01;
          font-family: Kadwa, 'Source Sans Pro';
          display: flex;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
        .anweshadash04gmailcom-5BJ {
          margin-bottom: 1.1rem;
          font-size: 0.9rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 1.215;
          color: #000000;
          font-family: Junge, 'Source Sans Pro';
        }
        .https-wwwlinkedincom-in-anwesha-dash-5ab00b232--PSt {
          line-height: 1.215;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.2rem;
          display: flex;
          font-size: 0.9rem;
          font-weight: 400;
          font-family: Junge, 'Source Sans Pro';
        }
      }
      .auto-group-7djc-Uz8 {
        flex-shrink: 0;
        margin-bottom: 6.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .icons8-dot-24-13-ds2 {
          margin-bottom: 1.9rem;
          width: 0.7rem;
          height: 0.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icons8-dot-24-14-NJp {
          height: 0.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 0.7rem;
        }
      }
    }
    .auto-group-jn6i-tnx {
      width: 26.7rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .web-development-F7i {
        top: 9rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.02rem;
        color: #000000;
        width: 8.8rem;
        height: 1.2rem;
        position: absolute;
        left: 0;
        font-size: 1rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .led-the-development-of-a-comprehensive-employee-management-system-using-angular-this-system-streamlined-hr-processes-providing-a-centralized-platform-for-employee-data-management-attendance-tracking-and-performance-evaluation-9it {
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Roboto, 'Source Sans Pro';
        height: 10.4rem;
        position: absolute;
        top: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.625;
        width: 26.4rem;
        left: 0.3rem;

        .led-the-development-of-a-comprehensive-employee-management-system-using-angular-this-system-streamlined-hr-processes-providing-a-centralized-platform-for-employee-data-management-attendance-tracking-and-performance-evaluation-9it-sub-0 {
          line-height: 1.4444444444;
          color: rgba(0, 0, 0, 0.6999999881);
          font-family: Roboto, 'Source Sans Pro';
          font-size: 0.9rem;
          font-weight: 400;
        }
        .led-the-development-of-a-comprehensive-employee-management-system-using-angular-this-system-streamlined-hr-processes-providing-a-centralized-platform-for-employee-data-management-attendance-tracking-and-performance-evaluation-9it-sub-1 {
        }
      }
    }
  }
  .auto-group-5e78-1HE {
    width: 58.2rem;
    height: 11.3rem;
    position: absolute;
    left: 3.6rem;
    top: 49.3rem;
    display: flex;
    align-items: center;

    .auto-group-zten-vf6 {
      width: 19.9rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-gyx8-g8U {
        margin: 0rem 12.7rem 3.55rem 0rem;
        width: calc(100% - 12.7rem);
        display: flex;
        align-items: flex-end;

        .icons8-contact-58-1-CsW {
          width: 1.6rem;
          height: 1.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.9rem 0.1rem 0rem;
        }
        .item-9938794903-voW {
          flex-shrink: 0;
          display: flex;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.215;
          color: #000000;
          font-family: Junge, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .education-background-ezQ {
        font-weight: 400;
        line-height: 2.01;
        color: #000000;
        font-family: Kadwa, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.4rem 2.3rem;
        display: flex;
        font-size: 1.6rem;
      }
      .auto-group-5gi2-yFz {
        align-items: center;
        margin: 0rem 1.6rem 0.45rem 0rem;
        width: calc(100% - 1.6rem);
        display: flex;

        .icons8-dot-24-8-JZA {
          margin: 0rem 0.6rem 0.1rem 0rem;
          width: 0.7rem;
          height: 0.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vellore-institute-of-technology-2021-26-Qs6 {
          font-weight: 400;
          line-height: 1.215;
          color: #000000;
          font-family: Junge, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 0.9rem;
        }
      }
      .auto-group-coxr-Hvt {
        margin-right: 3.4rem;
        width: calc(100% - 3.4rem);
        display: flex;
        align-items: center;

        .icons8-dot-24-6-Yrp {
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.2rem 0rem;
          width: 0.7rem;
          height: 0.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .young-blood-public-school-2020-21-4aG {
          flex-shrink: 0;
          display: flex;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.215;
          color: #000000;
          font-family: Junge, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-zola-PMe {
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.4rem 0rem 0.5rem 11.2rem;
      height: 100%;
      display: flex;

      .auto-group-zfka-JzQ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.3rem 1rem 0rem 0rem;

        .icons8-dot-24-15-3wz {
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 0.7rem;
          height: 0.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .icons8-dot-24-16-NUU {
          width: 0.7rem;
          height: 0.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .developed-a-series-of-foundational-web-projects-showcasing-proficiency-in-html-java-and-css-these-projects-serve-as-a-practical-demonstration-of-core-web-development-skills-ranging-from-static-web-pages-to-interactive-applications-uzC {
        flex-shrink: 0;
        max-width: 25.4rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.4444444444;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Roboto, 'Source Sans Pro';
      }
    }
  }
  .auto-group-8ny6-wR6 {
    position: absolute;
    left: 3.6rem;
    top: 60.75rem;
    display: flex;
    align-items: flex-end;
    width: 13.4rem;
    height: 1.1rem;

    .icons8-dot-24-1-GiG {
      margin: 0rem 0.6rem 0.05rem 0rem;
      width: 0.7rem;
      height: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .dav-public-school-2018-19-BaL {
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.215;
      color: #000000;
      font-family: Junge, 'Source Sans Pro';
    }
  }
  .auto-group-j6u6-7D6 {
    top: 69.4rem;
    display: flex;
    align-items: flex-end;
    width: 9rem;
    height: 2.2rem;
    position: absolute;
    left: 4rem;

    .auto-group-6doc-2ax {
      margin: 0rem 0.3rem 0.2rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icons8-dot-24-11-moS {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        width: 0.7rem;
        height: 0.7rem;
      }
      .icons8-dot-24-3-iig {
        vertical-align: top;
        flex-shrink: 0;
        width: 0.7rem;
        height: 0.7rem;
        object-fit: cover;
      }
    }
    .auto-group-unwq-fP2 {
      width: 8rem;
      height: 1.75rem;
      position: relative;
      flex-shrink: 0;

      .observation-c3N {
        line-height: 1.215;
        color: #000000;
        height: 1.1rem;
        position: absolute;
        left: 0.1rem;
        display: flex;
        font-size: 0.9rem;
        font-weight: 400;
        font-family: Junge, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.2rem;
        top: 0;
      }
      .time-management-7Vv {
        left: 0;
        display: flex;
        font-size: 0.9rem;
        font-family: Junge, 'Source Sans Pro';
        line-height: 1.215;
        color: #000000;
        white-space: nowrap;
        width: 8rem;
        height: 1.1rem;
        position: absolute;
        top: 0.65rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-yren-DYx {
    left: 4rem;
    top: 73.15rem;
    display: flex;
    align-items: center;
    width: 8.4rem;
    height: 1.1rem;
    position: absolute;

    .icons8-dot-24-9-Yr8 {
      width: 0.7rem;
      height: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.4rem 0.1rem 0rem;
    }
    .strategic-thinker-UUt {
      flex-shrink: 0;
      display: flex;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.215;
      color: #000000;
      font-family: Junge, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-yacn-p2x {
    top: 74.3rem;
    display: flex;
    align-items: center;
    width: 9.4rem;
    height: 1.1rem;
    position: absolute;
    left: 4rem;

    .icons8-dot-24-12-kBW {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.2rem 0.3rem 0rem 0rem;
      width: 0.7rem;
      height: 0.7rem;
    }
    .team-collaboration-GQk {
      font-family: Junge, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.215;
      color: #000000;
    }
  }
  .auto-group-xhcz-CJQ {
    height: 1.1rem;
    position: absolute;
    left: 4rem;
    top: 71.75rem;
    display: flex;
    align-items: center;
    width: 6.3rem;

    .icons8-dot-24-10-Xba {
      margin: 0.1rem 0.4rem 0rem 0rem;
      width: 0.7rem;
      height: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .adaptability-SyS {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.215;
      color: #000000;
      font-family: Junge, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .soft-skills-b5e {
    display: flex;
    font-weight: 400;
    line-height: 2.01;
    color: #000000;
    font-family: Kadwa, 'Source Sans Pro';
    width: 7.7rem;
    height: 3.3rem;
    top: 65.65rem;
    white-space: nowrap;
    position: absolute;
    left: 6.1rem;
    font-size: 1.6rem;
  }
}
